<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.codeskraps"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
		
		<!-- Broadcast Receiver that will process AppWidget updates -->
		<receiver android:name=".WidgetExample" android:label="@string/display_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data 
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_example_provider" />
		</receiver>
		
		<!-- Broadcast Receiver that will process AppWidget updates -->
		<receiver android:name=".ButtonWidget" android:label="@string/button_widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<!-- Broadcast Receiver that will also process our self created action -->
				<action
					android:name="com.codeskraps.ButtonWidget.ACTION_WIDGET_RECEIVER"/>
			</intent-filter>
			<meta-data 
				android:name="android.appwidget.provider"
				android:resource="@xml/button_widget_provider" />
		</receiver>
		
		<!-- this activity will be called, when we fire our self created ACTION_WIDGET_CONFIGURE -->
		<activity android:name=".ClickedActivity">
			<intent-filter>
				<action
					android:name="com.codeskraps.ButtonWidget.ACTION_WIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		
	</application>
</manifest>